.btn-1 {
    border: none;
    color: white;
    background-color: #0094f7;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #0094f7;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}
 
.btn-1:hover {
    color: #0056f5c0;
    background-color: rgb(0, 0, 0);
    border: 2px solid #ffffff;
}
.enginar {
    border: none;
    color: rgb(0, 0, 0);
    background-color: #0094f7;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #0094f7;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}
 
.enginar:hover {
    color: rgb(236, 6, 6);
    background-color: rgb(0, 252, 21);
    border: 2px solid #ffffff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6000fa;
}

li {
    display:inline-block;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color:#0078e9; 
}

ul li ul {
    background-color:#0066ff;
    display:none;
    position:absolute;
    width:100px
}

ul li:hover ul{
    display:block;
}
li ul li {
    display:block; 
}
.engin {
    border: none;
    color: white;
    background-color: #0094f7;
    padding: 20px 20px;
    cursor: pointer;
    border: 2px solid #0094f7;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}
 
.engin:hover {
    color: #0056f5c0;
    background-color: rgb(0, 0, 0);
    border: 2px solid #ffffff;
}